/*CSS code for Read up page for HTML and CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 40px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#sec-1 {
  background-color: aqua;
  position: relative;
}
#sec-2 {
  background-color: orange;
}
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after {
  top: 20%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
/*CSS code for quiz button*/
.button {
  margin-top: 30px;
}
.button a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.button a:hover {
  background-color: #a52a2a;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .button {
    text-align: center;
  }
  .button a {
    padding: 9px 30px;
  }
}
